In [1]:
                                              #WORKING_WITH_LIST            
car=["BMW","Lambergini","Bugatti","Rolls Royse"]
car

['BMW', 'Lambergini', 'Bugatti', 'Rolls Royse']

In [6]:
for i in car:
    print([i])

['BMW']
['Lambergini']
['Bugatti']
['Rolls Royse']

In [7]:
car[1]

'Lambergini'

In [10]:
for i in car:
    print("Everyone has a dream to buy a "+i+" !!!")
    print("So,I have a dream to buy a "+i+" !!!\n")
print("No more today!")

Everyone has a dream to buy a BMW !!!
So,I have a dream to buy a BMW !!!

Everyone has a dream to buy a Lambergini !!!
So,I have a dream to buy a Lambergini !!!

Everyone has a dream to buy a Bugatti !!!
So,I have a dream to buy a Bugatti !!!

Everyone has a dream to buy a Rolls Royse !!!
So,I have a dream to buy a Rolls Royse !!!

No more today!

In [7]:
value=list(range(1,6))
value

[1, 2, 3, 4, 5]

In [8]:
for i in value:
    print(i)

1
2
3
4
5

In [9]:
odd_num=list(range(2,21,2))
for i in odd_num:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
even_num=list(range(1,21,2))
for i in even_num:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [11]:
val=[]
for i in range(1,11):
    val.append(i)
print(val)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
val=[]
for i in range(1,11):
    val.append(i**2)
print(val)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
val=(1,2,3,4)
m=[x*x for x in val]
print(m)

[1, 4, 9, 16]

In [13]:
                            #LIST_COMPREHESIONS
#[list name]
#result=["expression" for "value/variable" in "list name"  ]
#print(result)   
    
val=[1,2,3,4]
m=[x*x for x in val]
print(m)

[1, 4, 9, 16]

In [14]:
m=[x for x in range(1,11)]
print(m)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
ls= list(range(1,21)) 
result=[x for x in ls if x%5==0]
print(result)

[5, 10, 15, 20]

In [22]:
ls= list(range(1,5)) 
result=[x**3 for x in ls ]
print(result)

[1, 8, 27, 64]

In [24]:
m=[x**2 for x in range(11,1,-1)]
print(m)

[121, 100, 81, 64, 49, 36, 25, 16, 9, 4]

In [4]:
ls=[1,2,3,4,5,5,6,6,7]
ms=[]
for i in ls[3:]:
    (ms.append(i))
print(ms)

[4, 5, 5, 6, 6, 7]

In [25]:
m=([i for i in ls[3:]])
print(m)

[4, 5, 5, 6, 6, 7]

In [12]:
                                              #COPYING_LIST_[:]
    
i_want=["burger","pizza","hotdog","saurma"]
you_want=i_want[:]

print("My fav food:")
print(i_want,"\n")
print("Your fav food:")
print(you_want)

My fav food:
['burger', 'pizza', 'hotdog', 'saurma']

Your fav food:
['burger', 'pizza', 'hotdog', 'saurma']

In [14]:
i_want=you_want
i_want.append("chickenfry")
you_want

['burger', 'pizza', 'hotdog', 'saurma', 'chickenfry']

In [15]:
i_want

['burger', 'pizza', 'hotdog', 'saurma', 'chickenfry']

In [18]:
                               #TUPLE(NOT_MUTABLE)
    
    
name=("n","a","h","i","d")
name[:3]

('n', 'a', 'h')

In [24]:
t_a=("England","Russia","France")
print("Tripple Atat:")
for i in t_a:
    print(i)
p_t=("Austro_hungary","Ottoman","Germany")    
print("\nPowerful Treaty:")
for i in p_t:
    print(i)

Tripple Atat:
England
Russia
France

Powerful Treaty:
Austro_hungary
Ottoman
Germany